# Security & API Keys
.env

# Local Databases
*.db
*.sqlite3

# Historical Market Data
historical_data/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Virtual Environments
.conda/
env/
venv/
.venv/

# IDEs
.vscode/
.idea/

# macOS / Windows
.DS_Store
Thumbs.db
