# === Security & API Keys ===
.env

# === Local Databases ===
*.db
*.sqlite3

# === Conda & Python Environment Data ===
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.conda/
env/
venv/

# === Mac/Windows System Files ===
.DS_Store
Thumbs.db
